body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
}

html {
    height: 100%;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

p {
    font-size: 1.1rem;
}


/*video*/

video {
    object-fit: cover;
    position: fixed;
    top: 0;
    z-index: -1;
}


/*toggle-button*/

.toggle {
    display: none;
}


/*header*/

header {
    width: 100%;
    padding-top: 2rem;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

header nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

header h4 {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}


/*banner*/

.banner {
    padding-top: 4rem;
    text-align: center;
    max-width: 835px;
    margin: 0 auto;
}

.banner h1 {
    font-size: 6rem;
    position: relative;
    margin-bottom: 0;
}

.banner h1::before {
    content: "EAT. DRINK. PLAY.";
    font-size: 6rem;
    color: #000;
    position: absolute;
    top: -0.4rem;
    left: 0rem;
    z-index: -1;
    -webkit-text-stroke: 2px #95c11e;
}

.banner h2 {
    font-size: 2rem;
}

.banner p {
    width: 50%;
    margin: 0 auto;
    line-height: 1.4rem;
    font-size: 1.1rem;
}


/*arrow*/

.arrow {
    width: 250px;
    height: 250px;
    position: relative;
    left: -2rem;
    padding-top: 4rem;
}

.fa-arrow-down {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 2px solid #95c11e;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: all ease .4s;
}

.fa-arrow-down:hover {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    background-color: #95c11e;
    border: none;
    margin-top: 4rem;
}


/*scroller*/

.scroller {
    display: flex;
    color: #000;
    white-space: nowrap;
    overflow-x: hidden;
}

.scroller .scroll-in {
    display: flex;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scroller .scroll-in h4 {
    font-size: 8rem;
    font-weight: 700;
    -webkit-text-stroke: 1.5px #fff;
    margin-right: 1rem;
    transition: all ease .5s;
}

.scroller .scroll-in h4:hover {
    color: #95c11e;
    -webkit-text-stroke: 0px;
}


/*section*/

section {
    max-width: 100%;
    background-color: #000;
}


/*about-us*/

.about-us {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.about-text {
    width: 50%;
    order: 2;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1rem;
}

.about-text h2 {
    margin-top: 0;
    font-size: 4rem;
}

.about-left-img {
    width: 22%;
    order: 1;
}

.about-right-img {
    width: 22%;
    order: 3;
}

.about-left-img img,
.about-right-img img {
    border-radius: 20px;
    height: 250px;
    object-fit: cover;
}


/*cards*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem 0;
}

.card {
    width: 27%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    height: 300px;
}

.card img {
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
}

.card-text h2 {
    font-size: 2rem;
    white-space: nowrap;
    margin-bottom: 0;
}

.card-text p {
    font-size: 1rem;
}

.card-text {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 5rem 1rem;
    background-color: #95c11e;
    color: #000;
    opacity: 0;
    transition: all linear .4s;
}

.card-text:hover {
    opacity: 1;
}


/*green-div*/

.green-div {
    height: 170px;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000;
    padding: 1rem 0;
}

.green-div h3 {
    width: 40%;
    font-size: 1.6rem;
    text-align: center;
    line-height: 3rem;
}

.left-dot,
.right-dot {
    width: 15%;
    height: 100%;
}

.green-div img {
    height: 100%;
    object-fit: cover;
}


/*carousel*/

.carousel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
}

.owl-carousel,
.carousel-text {
    width: 47%;
}

.owl-carousel img {
    border-radius: 5px;
}

.carousel-text h2 {
    font-size: 2.4rem;
}

.carousel-text p {
    font-size: 1rem;
    line-height: 1.5rem;
}


/*review*/

.review {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 10rem 0;
    position: relative;
}

.review h2 {
    padding: 0 6rem;
}

.quote-left,
.quote-right {
    width: 10%;
}

.quote-left {
    position: absolute;
    top: 9rem;
}

.quote-right {
    position: absolute;
    right: 0;
    bottom: 9rem;
}


/*join-us*/

.join-us {
    width: 100%;
    position: relative;
}

.join-us h2 {
    width: 100%;
    text-align: center;
    font-size: 6.3vw;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    margin-bottom: 0;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 28%;
    height: 125px;
    position: relative;
    border-radius: 20px;
}

.box-text {
    color: #000;
    width: 100%;
    border-radius: 20px;
    font-size: 1.6rem;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box-text h3 {
    width: 100%;
    background-color: #95c11e;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all ease .5s;
}

.box-text h3:hover {
    color: #fff;
    background: transparent;
}

.box-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0rem;
    overflow: hidden;
}

.box-img img {
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


/*footer*/

footer {
    width: 100%;
    height: 250px;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6rem;
}

footer img {
    object-fit: cover;
}

.foot {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: -10rem;
}

.f1,
.f2,
.f3,
.f4 {
    width: 25%;
}

.foot h4 {
    font-size: 1.1rem;
    line-height: 2rem;
}

.foot h5 {
    line-height: 1.4rem;
}


/*media-query*/

@media (max-width:1260px) {
    .green-div {
        padding: 0;
        align-items: center;
    }
    .green-div h3 {
        width: 50%;
    }
}

@media (max-width:1100px) {
    html {
        font-size: 12px;
    }
    .banner {
        max-width: 670px;
    }
    .quote-left {
        left: -1rem;
    }
}

@media (max-width:1000px) {
    .small-container {
        max-width: 800px;
    }
    .review {
        max-width: 770px;
    }
}

@media (max-width:900px) {
    .card-text h2 {
        font-size: 1.8rem;
    }
    .quote-left {
        left: -0.6rem;
    }
    .box-text {
        font-size: 1.4rem;
    }
    .foot h4 {
        font-size: 0.8rem;
    }
}

@media (max-width:800px) {
    .toggle {
        display: block;
        font-size: 2rem;
        margin-left: 92%;
        margin-bottom: 2rem;
    }
    header nav {
        display: none;
        text-align: center;
    }
    nav img {
        width: 12%;
    }
    .about-us,
    .cards,
    .carousel,
    .boxes {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .about-text {
        width: 70%;
        order: 1;
    }
    .about-left-img {
        width: 50%;
        order: 2;
    }
    .about-right-img {
        width: 50%;
        order: 3;
    }
    .card {
        width: 50%;
    }
    .green-div h3 {
        width: 65%;
    }
    .owl-carousel,
    .carousel-text {
        width: 70%;
    }
    .review {
        max-width: 600px;
        font-size: 1.2rem;
    }
    .join-us h2 {
        margin-bottom: 4rem;
    }
    .box {
        width: 50%;
    }
    footer {
        height: 500px;
    }
    footer img {
        display: none;
    }
    .foot {
        width: 100%;
        left: 0;
        flex-direction: column;
    }
    .foot .f1 img {
        width: 40%;
        display: block;
        margin: 0 auto;
    }
    .foot h4 {
        font-size: 1.2rem;
    }
    .f1 {
        width: 50%;
    }
    .f2,
    .f3,
    .f4 {
        width: 50%;
        margin-bottom: -2rem;
        text-align: center;
    }
    .foot h5 {
        font-size: 1.1rem;
    }
}

@media (max-width:637px) {
    nav img {
        width: 15%;
    }
    .banner h1::before {
        left: -1rem;
    }
    .banner p {
        width: 70%;
    }
}

@media (max-width:630px) {
    .review {
        max-width: 500px;
        font-size: 1.1rem;
    }
}

@media (max-width:530px) {
    .toggle {
        margin-left: 90%;
    }
    nav img {
        width: 18%;
    }
    .banner p {
        width: 90%;
    }
    .arrow {
        width: 200px;
        height: 200px;
        left: -3rem;
    }
    .fa-arrow-down {
        width: 200px;
        height: 200px;
    }
    .review {
        max-width: 400px;
        font-size: 1.1rem;
    }
    .foot h4,
    .foot h5 {
        font-size: 1rem;
    }
}

@media (max-width:432px) {
    .toggle {
        margin-left: 88%;
    }
    nav img {
        width: 20%;
    }
    .banner h1 {
        font-size: 5.9rem;
    }
    .about-text {
        width: 80%;
    }
    .about-left-img,
    .about-right-img {
        width: 65%;
    }
    .card {
        width: 65%;
        height: 300px;
    }
    .review h2 {
        padding: 0 4rem;
    }
    .box {
        width: 70%;
    }
    .f1 {
        width: 70%;
    }
}

@media (max-width:424px) {
    .banner h1 {
        font-size: 5.8rem;
    }
}

@media (max-width:420px) {
    nav img {
        width: 24%;
    }
    .banner h1 {
        width: 80%;
        margin: 3rem auto;
    }
    .green-div h3 {
        font-size: 1.2rem;
    }
    .quote-left {
        left: -0rem;
    }
}